@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(images/background.jpeg) center / cover;
}

.container {
  max-width: auto;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  margin-bottom: 10px;
  background-color: white;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  padding: 10px 10px;
  font-size: 15px;
}

.btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.add_btn {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.add-form {
  margin-bottom: 10px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control input,
select {
  width: 100%;
  height: 40px;
  font-size: 17px;
  border-radius: 0.8rem;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

.box {
  width: 82vw;
  background-color: #fff5;

  backdrop-filter: blur(30px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 0.8rem;

  overflow: hidden;
}

.result_table {
  max-width: 400px;
  margin-top: 20px;
}

.table__header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  padding: 0.8rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__body {
  width: 95%;
  max-height: 300px;
  background-color: #fffb;

  margin: 0.8rem auto;
  border-radius: 0.6rem;
  border: solid 1px #000;

  overflow: auto;
  overflow: overlay;
}

.table__body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

table {
  width: 100%;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #d5d1defe;
  cursor: pointer;
  text-transform: capitalize;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr:hover {
  background-color: #fff6 !important;
}

@media (max-width: 1000px) {
  td:first-of-type {
    min-width: 8rem;
  }
  td {
    min-width: 12rem;
  }
  .result_table td:first-of-type {
    min-width: 16rem;
  }
}
